---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <form id="codeForm">
      <label for="codeInput" class="secret-code">Enter Your Secret Code</label>
      <center>
      <input type="text" id="codeInput" name="code" class="secret-code-field" maxlength="5">
      </center>
      <button type="submit">Submit</button>

  </form>

  <!-- <img src="/assets/images/queenscliffquest-rock-code.jpg" alt="A magical enigmatic rock with a word chiselled into it, laying in a tunnel next to a sea cliff by the ocean." title="A magical enigmatic rock with a word chiselled into it, laying in a tunnel next to a sea cliff by the ocean."> -->

  <script>
      document.getElementById("codeForm").addEventListener("submit", function(event) {
          event.preventDefault(); // Prevent default form submission

          var code = document.getElementById("codeInput").value.trim().toUpperCase(); // Convert code to uppercase
          if (code !== "") {
              window.location.href = "/" + code; // Redirect to URL with the code
          } else {
              alert("Please enter a code.");
          }
      });
  </script>



  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
